.modal_container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--overlay);
  backdrop-filter: blur(2px);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
