.profile__aboutme {
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .profile__aboutme {
    font-size: 0.875rem;
    text-align: center;
  }
}
