.profile {
  margin: 36px 0 46px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .profile {
    margin: 36px 20px 46px;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    margin: 36px 20px 40px;
  }
}
