.footer__copyright {
  color: var(--gray);
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    margin: 0 20px 60px;
  }
}

@media screen and (max-width: 544px) {
  .footer__copyright {
    font-size: 0.875rem;
    margin: 0 20px 36px;
  }
}
