.button_type_add {
  margin-left: auto;
  width: 150px;
  height: 50px;
  border-width: 2px;
  border-radius: 2px;
}

.button_type_add img {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 767px) {
  .button_type_add {
    width: 282px;
    margin-top: 36px;
    margin-left: initial;
  }
}
