.form__button {
  width: 100%;
  height: 50px;
  border: none;
  background-color: var(--black);
  color: var(--white);
  border-radius: 2px;
  font-size: 1.125rem;
  line-height: 1.2;
  margin-top: 18px;
  cursor: pointer;
}

.form__button:hover {
  background-color: var(--black-hover);
}
