.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--overlay);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: all 0.7s ease-in-out;
}
