.button_profile_type_add_button {
  margin-left: auto;
  width: 150px;
  height: 50px;
  border-width: 2px;
  border-radius: 2px;
}

.button_profile_type_add_button img {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 544px) {
  .button_profile_type_add_button {
    width: 282px;
    margin-top: 36px;
    margin-left: initial;
  }
}
