.title {
  width: calc(100% - 21px);
  font-family: "InterBlack", "Arial", "Helvetica", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: var(--black);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
