.button {
  border: 1px solid var(--white);
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  opacity: 0.6;
}
